{% extends "IntelligentCellar/base.html" %}
{% load staticfiles %}
{% block content %}
    <center>
        <form method="post" action="addbottle">
            {% csrf_token %}
            <table>{{BottleForm}}
            </table>
            <input class="btn btn-primary" style="margin:1%; padding: 1%" type="submit" value="Add Bottle"/>
        </form>
    </center>
    <div style="margin: auto; width: 75%; text-align: center">
        {%  for bottle in bottles %}
            <div class="bottle" style="display: inline-block;background-color: #EEEEEE;padding: 1%;margin: 2%;width: 30%;">
                <div style="background-color: white; border-color: #663333; border-style: solid;margin: 1%">
                    {% if bottle.image_url %}
                        <a href="#"><img style="display: inline-block;" src="{{ bottle.image_url }}"/></a>
                    {% else %}
                        <a href="#"><img style="display: inline-block;" src="{% static 'IntelligentCellar/img/bottle.png' %}"/></a>
                    {% endif %}
                </div>
                <div>
                    <h4><strong>Nom: {{ bottle.name }}</strong></h4>
                    <h4>Pays: {{ bottle.country }}</h4>
                    <h4>Producteur: {{ bottle.producer }}</h4>
                    <h4>Teneur en alcool: {{ bottle.degreeOfAlcohol}}</h4>
                    <h4>Capacité: {{ bottle.size }}</h4>
                    <h4>Couleur: {{ bottle.colour }}</h4>
                    <h4>CUP: {{ bottle.cup }}</h4>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.0.9/scrollreveal.min.js"></script>

    <script>
        window.sr = ScrollReveal().reveal('.bottle');
    </script>
{% endblock %}